body {
    background-color: rgba(255, 244, 241, 1);
    margin: 0;
}

h1 {
    font-family: "Inknut Antiqua", serif;
    font-weight: 400;
    font-style: normal;
    margin: 20px;
}

h2 {
    font-family: "Ysabeau SC", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 30px;
    margin: 20px;
}

h3 {
    font-family: "League Gothic", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    font-size: 24px;
    margin: 20px 20px 0px 20px;

}



p, ol {
    font-family: "Cormorant Garamond", serif;
    font-weight: 500;
    font-style: normal;
    max-width: 460px;
    line-height: 200%;
    margin: 20px;
}
a{color:rgba(191, 93, 57, 1)}



.h1-header, .bottom-homepage, .center-toptext{
    display: flex;
    justify-content: center;
    text-align: center;
}

.center-toptext {
    padding: 40px;
}



.container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 20px;
   }
   
.image {
    max-width: 100%;
    height: auto;
     padding: 30px;
   }
   

.bottom-homepage {
    padding: 10px 20px 100px 20px;
}





   


/* navagation */
.nav {
    font-family: "Cormorant Garamond", serif;
    font-weight: 500;
    font-style: normal;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgba(64, 28, 20, 1);
    justify-content: space-between;
    padding: 10px 30px;
    a {color: aliceblue;}
    font-size: 25px;

    
}

.nav-logo {
    justify-content: flex-start;
    padding-right: 40px;
}

.nav-text {
    display:flex;
    justify-content: flex-end;
    gap: 90px;
    a{text-decoration: none;}
}
/* (above) navagation */





/* button on nav*/
.nav-text button {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: "Cormorant Garamond", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 25px;
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    a {color: aliceblue; text-decoration: none;}
    background-color: rgba(140, 98, 46, 1);
    text-align: center;
    cursor: pointer;
  }

  
.nav-text button:hover {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: "Cormorant Garamond", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 25px;
    background-color: rgb(229, 196, 196);
    a {color: black; text-decoration: none;}
  }
  /* (above) button on nav */









/* home page hero image*/
.hero-imagehome {
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)), url("assests/pinkredrose-onhome.png");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  .hero-texthome {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }
  
  .hero-texthome button {
    font-family: "Cormorant Garamond", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 15px;
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    a {color: aliceblue; text-decoration: none;}
    background-color: rgba(140, 98, 46, 1);
    
    text-align: center;
    cursor: pointer;
  }

  .hero-texthome button:hover {
    font-family: "Cormorant Garamond", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 15px;
    background-color: rgb(229, 196, 196);
    a {color: black; text-decoration: none;}
  }
  /* (above) home page hero image */




  /* rose care hero image */
.hero-image-rosecare {
    background-image: linear-gradient(rgba(255, 244, 241, 0),rgba(255, 244, 241, 0.674), rgba(255, 244, 241, 1)), url("assests/rose-care-hero.png");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  .hero-text-rosecare {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
  }

  /* (above) rose care hero image */


.care-container {
    display: flex;
    flex-direction: row;
    padding: 0px 20px 90px 20px;
    gap: 20px;
}





